# Visual Studio
.vs/

# Build results
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Logs
*.log

# Visual Studio cache
*.cache

# Rider (if used)
.idea/

# OS files
.DS_Store
Thumbs.db

Hospital.API/appsettings.json
Hospital.API/Properties/PublishProfiles
